  <div class="dropdown">
    <ul>
      <li><a href="#">Services</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>

<%= partial "pages/first" %>
<%= partial "pages/second" %>
<%= partial "pages/third" %>
<%= partial "pages/fourth" %>
<%= partial "pages/fifth" %>


